button {
  &:focus {
    outline: none;
  }
}
.btn {
  color: $secondary-text-color;
  font-weight: $secondary-font-weight;
  font-size: 18px;
  padding: 9px 36px;
  border-radius: 25px;
  text-transform: capitalize;

  &-join-now {
    padding: 9px 36px;
  }
  &-learn-more {
    padding: 9px 28px;
  }
  &-link {
    padding: 0;

    &:hover {
      text-decoration: none;
      color: $special-text-color;
    }
  }
  &-outline-primary {
    color: $blue;
    border: 2px solid;
  }
  &-view-all {
    padding: 9px 52px;
  }
  &-read-more {
    color: $primary-header-color;
  }
  &-download-pdf {
    @extend .btn-light;
    padding: 11px 27px;
  }
  &-view {
    padding: 8px 46px;
    color: $white;
  }
  &-view-pdf {
    padding: 7px 46px;
    font-size: 16px;
  }
  &-download {
    padding: 7px 26px;
    font-size: 16px;
  }
}

p + .btn {
  margin-top: 12px;
}
.event-list + .btn {
  margin-top: 20px;
}
#tribe-bar-form .tribe-bar-submit input[type=submit] {
  @extend .btn-primary;
}


