.card {
  border-radius: 0;
  border-color: transparent;

  &-title {
    color: $primary-header-color;
    font-weight: $primary-font-weight;
    font-size: 22px;

  }
  &-text {}
  &-img-top {
    border-radius: 0;
  }
  &-text-meta {
    color: $special-text-color;
    font-family: $secondary-font-face;
    font-style: italic;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  &-footer {
    padding: 15px 20px;
  }
}

.card-deck {
  .card {
    border-radius: 0;
    border-color: $secondary-border-color;

    &-img-top {
      border-radius: 0;
    }
    &-footer {
      background-color: #fff;
    }
    &-card-text-meta {

    }
  }
}
