// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
.form-field {
  @extend .form-group;
  input,textarea {
    @extend .form-control;
  }
}
.frm_half {
  @extend .col-md-6;
}
.frm_fields_container {
  @extend .form-row;
  margin-right: -15px;
  margin-left: -15px;
}
.frm_full,.frm_none_container {
  @extend .col-md-12;
}
.frm_primary_label {
  color: $primary-header-color;
  font-weight: $fournary-font-weight;
  line-height: 1;
}
.frm_none_container {
  .frm_primary_label {
    display: none;
  }
}
.frm_submit {
  padding: 0 15px;
}
.frm_button_submit {
  @extend .btn;
  @extend .btn-primary;
  padding: 9px 34px;
}
.frm_hidden,.frm_screen_reader {
  @extend .sr-only;
}
.form-field {
  margin-bottom: 20px;
  input {
    height: 49px;
  }
  textarea {
    height: 219px;
  }
}
p + .frm_fields_container {
  margin-top: 20px;
}