.paginated-links {
  margin-top: 20px;
  margin-bottom: 20px;

  .page-numbers {
    width: 44px;
    height: 44px;
    border: 1px solid $primary-border-color;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: $primary-font-face;
    margin-right: 8px;
    color: $primary-header-color;

    &:hover, &:focus, &.current {
      text-decoration: none;
      background-color: $primary-border-color;
      color: $primary-header-color;

    }

    i {
      font-size: 12px;
      color: $primary-border-color;
    }
  }
  .dots {
    border-color: transparent;
    width: auto;
    &:hover, &:focus {
      background-color: transparent;
    }
    i {
      font-size: 22px;

    }
  }
  .next, .prev {
    &:hover, &:focus {
      i {
        color: $primary-header-color;
      }
    }
  }
}