.widget {
  margin-bottom: 50px;
  h3, ul {
    border: 1px solid $primary-border-color;
  }
  h3 {
    color: $primary-header-color;
    font-weight: $sixnary-font-weight;
    margin: 0;
    padding: 20px 15px;
    font-size: 20px;
    font-style: normal;
    border-bottom: 0;
    font-family: $primary-font-face;
  }
  ul {
    padding: 0;
    li {
      position: relative;
      padding: 20px;
      margin: 0;
      &:hover {
        &:before {
          content: '';
          background-color: #f3f3f3;
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
      >* {
        position: relative;
      }
      a {
        display: block;
        font-weight: $primary-font-weight;
        color: $primary-header-color;
      }
    }
  }
}

.rpwwt-post {
  &-title {
    font-size: 16px;
    color: $primary-header-color;
    font-weight: $primary-font-weight;
    font-family: $primary-font-face;
    display: block;
  }
  &-date {
    color: $special-text-color;
    font-family: $secondary-font-face;
    font-style: italic;
    margin-left: 87.5px;
  }
}
.widget_categories {
  ul {
    padding: 0;
    li {
      position: relative;
      padding: 20px;

      a {
        position: relative;
        padding: 0;
        color: $primary-header-color;
        &:after {
          position: absolute;
          content: '';
          display: block;
          bottom: -20px;
          left: 0;
          right: 0;
          background: url("../images/special-border.png") repeat-x;
          height: 2px;
        }

      }
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
      &:hover {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}