.section-404 {
  margin-top: 93px;
  position: relative;
  padding-top: 113px;
  height: 71vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.40) 0%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */
  }
  .container {
    position: relative;
    z-index: 1;
    margin-top: -195px;
    align-items: center;
  }
  h1 {
    color: $primary-header-color;
    font-weight: $primary-font-weight;
    margin-bottom: 25px;
    line-height: 1;
    font-size: 165px;
  }
}