.section-community-about {
  .row {
    [class*="col-"] {
      &:last-child {
        display: flex;
        align-items: center;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &+.row {
      >div {
        padding-top: 30px;
        &:nth-child(odd) {

          .community-about-details {

            h2 {

            }
          }
        }
      }
    }
  }
}
p + h2 {
  margin-top: 40px;
}
