.section-with-sidebar {
  .title-link {
    display: block;
  }
  >div {
    display: flex;
  }
  .main {
    width: 100%;
  }
}

.row-resources {
 >div {
   max-height: 275px;
   margin-bottom: 30px;
 }

 .card {
   height: 100%;
   margin-bottom: 45px;
   &-body {
     text-align: center;
     background-color: $secondary-background-color;
   }
   &-img-top {
     padding: 30px 60px;
   }
   &-footer {
     padding: 0 0 20px;
     border-top: 0;
     background-color: $secondary-background-color;
   }
 }
}

@include media-breakpoint-down(lg) {
  .row-resources {
    >div {
      max-height: 325px;
    }
    .card {
      &-img-top {
        padding: 30px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .section-with-sidebar {
    >div {
      display: block;
    }
  }
}