.contact {
  &-content {
    display: flex;
  }
  &-form {
    width: 100%;
  }
  &-details {
    width: 868px;
    margin-left: 50px;
    h3 {
      color: $primary-header-color;
      font-style: normal;
      font-family: $primary-font-face;
      font-size: 22px;
      font-weight: $secondary-font-weight;
    }
  }
  &-address {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.section-card-tiles {
  h2 {
    max-width: 690px;
    margin: 0 auto 60px;
    text-align: center;
  }
  .card {
    border-color: $primary-border-color;
    width: 100%;

    &-icon {
      margin: 16px 0 20px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
  [class*="col-"] {
    margin-bottom: 30px;
    display: flex;
  }
}

.contact-details {
  ul {
    margin-bottom: 16px;
  }
}