//Master Home Banner
.section-master-banner {
  position: relative;
  padding-top: 113px;
  height: 630px;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.40) 0%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */
  }
  &:after {

  }
  .container {
    position: relative;
    z-index: 1;
    margin-top: -100px;
    align-items: center;
  }
  h1 {
    font-size: 50px;
    color: $primary-header-color;
    font-weight: $primary-font-weight;
    margin-bottom: 25px;
    line-height: 1.3;
  }
}
.masterhead-content {

}
.bottom-anchor {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 35px 0;
  i {
    color: white;
    font-size: 22px;
  }
}
//End Master Home Banner
//Who We Are

//End of Who We Are
//Community Section
.community {
  &-container {
    @extend .container;
  }
  &-row {
    display: flex;

    &:nth-child(even) {
      flex-flow: row-reverse;
    }
  }
  &-img, &-content {
    width: 100%;
  }
  &-content {
    padding: 70px 0;
  }
  &-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.content-details {
  color: $secondary-text-color;
  margin: 0 40px;
  h2 {
    color: inherit;
  }
}
//End of Community Section
//Upcoming Event Section
  .event-list {
    margin: 35px auto 0;
    padding: 0;
    list-style: none;
    max-width: 1085px;

    li {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $primary-border-color;
      margin-bottom: 20px;

      &:last-child {
        border-bottom-color: transparent;
      }
      .event-meta {
        display: flex;
        flex: 0 1 25%;
        align-items: center;
        .day {
          line-height: 1;
          font-size: 104px;
          font-weight: $primary-font-weight;
          color: $ternary-text-color;
          display: flex;
          margin-right: 20px;
        }
        .month {
          font-weight: $secondary-font-weight;
          font-size: 22px;
          color: $fournary-text-color;
        }
        .week {
          font-size: 20px;
          text-transform: uppercase;
        }
      }
      .quick-details {
        flex: 0 1 40%;
        h3 {
          color: $primary-header-color;
          font-size: 28px;
          font-weight: $primary-font-weight;
          font-family: $primary-font-face;
          font-style: normal;
          margin-bottom: 10px;
        }
        span {
          color: $special-text-color;
          font-family: $secondary-font-face;
          font-style: italic;
          font-size: 23px;
        }
      }
      .more-details {}

    }
  }
//End of Upcoming Event Section
//Section Recent News
.section-recent-news {
  background-color: $secondary-background-color;
}
.text-center + .card-deck-news {
  .card {
    margin-top: 20px;
  }
}
.card-deck-news {
  .card {
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    &-img-top, &-body, &-footer {
      background-color: #fff;
      border-color: transparent;
    }
    &-img-top {
      border-radius: 0;
    }
    &-title {
      color: $primary-header-color;
      font-weight: $primary-font-weight;
      font-size: 22px;

    }
    .meta {
      color: $special-text-color;
      font-family: $secondary-font-face;
      font-style: italic;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 20px;
      display: block;
    }
    &-footer {
      border-color: $secondary-border-color;
      padding: 15px 20px;
    }
  }
}

//End of Recent NEws