.blog-filter {
  display: flex;
  justify-content: space-between;
  padding: 0 0 12px;
  margin-bottom: 45px;
  border-bottom: 1px solid $primary-border-color;
  align-items: center;
  .icon-searching-magnifying-glass {
    font-weight: $primary-font-weight;
  }
}
.nav {
  &-category {
    color: $fifthnary-text-color;
    .nav {
      &-item {
        &:first-child {
          .nav-link {
            padding-left: 0;
          }
        }
        &:not(:first-child) {
          margin-right: 10px;
        }
      }
      &-link {
        color: $fifthnary-text-color;
        font-weight: $secondary-font-weight;
        text-transform: uppercase;
        font-size: 22px;
        padding: 2px 15px;
        border-radius: 0;
      }
    }
  }

}

.card-deck-news-media {
  .card {
    flex: 0 1 30.75%;
    margin-bottom: 40px;
  }
}
.search-form {
  display: none;
  width: 100%;
  .search-field {
    width: 100%;
    border: 0;

    &:hover, &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.search-triggered {
  .navbar-category {
    display: none;
  }
  .search-form {
    display: block;
  }
  .search-trigger {
    display: none;
  }
  form {
    position: relative;
    .search-trigger {
      display: inline-block;
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translate(0,-50%);
      color: $primary-border-color;
    }
  }
}

.card-img-holder {
  position: relative;
  height: 225px;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0,-50%);
    max-width: 100%;
    max-height: 100%;

  }
}