.card-deck-pdf {
  .card {
    flex: 0 1 30%;
    margin-bottom: 40px;
    &-body {
      background-color: $secondary-background-color;
      text-align: center;
    }
    &-img-top {}
    &-text {}
    &-footer {
      background-color: $secondary-background-color;
      padding-top: 0;
      padding-bottom: 25px;
      border-top: 0;
      justify-content: center;
      display: flex;
      .btn {
        margin: 0 5px;
        &-view-pdf {
          &:hover, &:focus {
            color: $white;
          }
        }
      }
    }
  }
}