body {
  &.single {
    .content-info {
      margin-top: 40px;
    }
  }
}
.single-post-featured-img {
  text-align: center;
  margin-bottom: 20px;
}
.section-breadcrumb {
  margin-top: 83px;
  margin-bottom: 60px;
  .container {
    padding: 41px 15px;
    display: flex;
    justify-content: space-between;
    a, span {
      color: $primary-text-color;
      font-weight: $sevennary-font-weight;
    }
    .current {
      color: $fifthnary-text-color;
    }
    .separator {
      margin: 0 5px;
    }
  }
}
.breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.section-post-single {
  .container {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    @extend h2;
    font-size: 28px;
    margin-bottom: 10px;
  }
}
#fny_share {
  margin-bottom: 16px;

  img {
    width: 38px!important;
    height: 38px!important;
    margin-left: 10px;
  }
}
.meta-blog {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  ul {
    margin-bottom: 16px;
  }
  .card-text {
    margin-right: 20px;
  }
  time {
    margin: 0;
  }
}
.comments {
  border-top: 1px solid $primary-border-color;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-top: 25px;

  textarea {
    height: 219px;
    padding: 20px;
    font-size: 18px;
  }
  input[type=text],input[type=email] {
    height: 56px;
    padding: 20px;
    font-size: 18px;
  }
  .form-group {
    margin-bottom: 25px;
  }

  .comment-form {
    input[type=submit] {
      @extend .btn-primary;
      padding: 9px 29px;
    }
  }
}
.list-style-dot {
  li {
    position: relative;
    text-transform: capitalize;
    &:before {
      position: absolute;
      content: '•';
      font-size: 25px;
      left: -11px;
      top: 50%;
      transform: translate(0,-50%);
      line-height: 0;
      display: block;
      color: $primary-border-color;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}