body {
  &.single-tribe_events {
    .section-post-single {
      >article {
        &.tribe_events {
          width: 100%;
        }
      }
    }
  }
}
#tribe-events-pg-template, .tribe-events-pg-template {
  width: 100%;
  max-width: 100%;
  padding: 0 0 70px;
}
.single-tribe_events {
  .section-post-single {
    display: flex;
    justify-content: space-between;

  }
}
abbr[title] {
  text-decoration: none;
}
