@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8a8w85');
  src:  url('../fonts/icomoon.eot?8a8w85#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?8a8w85') format('truetype'),
  url('../fonts/icomoon.woff?8a8w85') format('woff'),
  url('../fonts/icomoon.svg?8a8w85#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand-button:before {
  content: "\e907";
}
.icon-angle-arrow-down:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e906";
}
.icon-searching-magnifying-glass:before {
  content: "\e900";
}
.icon-three-dots-more-indicator:before {
  content: "\e901";
}
.icon-double-angle-pointing-to-right:before {
  content: "\e902";
}
.icon-double-left-chevron:before {
  content: "\e903";
}
.icon-rewind:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
