body {
  font-family: $primary-font-face;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $primary-text-color;
  font-size: 18px;
  font-weight: $ternary-font-weight;

  &.admin-bar {
    .navbar-header {
      top: 32px;

    }
    .page-header {
      margin-top: 93px;
    }
  }
}
h2, h3 {
  line-height: 1;
}
h1 {

}
h2 {
  font-weight: $primary-font-weight;
  font-size: 36px;
  color: $primary-header-color;
  margin-bottom: 15px;
}
h3 {
  &.special {

  }
  color: $special-text-color;
  font-size: 24px;
  font-weight: $primary-italic-weight;
  font-style: italic;
  font-family: $secondary-font-face;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: $primary-link-color;
  &:hover,&:focus {
    text-decoration: none;
  }
}