// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #1d5f7e !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #d5ab3b !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $yellow !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


$nav-link-color: #878787;
$primary-link-color: #4786de;

$primary-header-color: #1d3c67;
$secondary-header-color: #fff;

$primary-text-color: #0b1c34;
$secondary-text-color: #ffffff;
$ternary-text-color: #ececec;
$fournary-text-color: #b3b3b3;
$fifthnary-text-color: #718db3;
$special-text-color: #d5ab3b;

$primary-font-weight: 800;
$secondary-font-weight: 600;
$ternary-font-weight: 300;
$fournary-font-weight: 500;
$sixnary-font-weight: 700;
$sevennary-font-weight: 400;

$primary-italic-weight: 400;

$primary-font-face: 'Raleway', sans-serif;
$secondary-font-face: 'Crimson Text', serif;

$primary-background-color: #1d3c67;
$secondary-background-color: #f3f3f3;
$ternary-background-color: #fff;

$primary-border-color: #d1d1d1;
$secondary-border-color: #e6e6e6;

$primary-blending-color: #092751;


$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #1d3c67 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
