.content-info {
  padding: 20px 0;
  .navbar-nav {
    .nav-item {
      &:last-child {
        .nav-link {
          background-color: $white;
          color: $nav-link-color;
          padding: 10px 0 10px 8px;
        }
      }
    }
  }
}

.copyright {
  @extend .navbar;
  font-size: 14px;
  p {
    margin: 0;
  }
}
.footer-border-top {
  border-top: 1px solid $primary-border-color;
}