.navbar {
  padding-left: 0;
  padding-right: 0;
  &-header {
    padding-top: 30px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;


  }
  &-brand {
    max-width: 386px;
  }
  &-nav {
    .nav-item {
      margin-right: 8px;
      &.active, &:hover, &:focus {
        .nav-link {
          color: $special-text-color;
        }
      }
      .nav-link {
        font-size: 18px;
        font-weight: 700;
        border-radius: 25px;
        padding-top: 10px;
        padding-bottom: 10px;

      }

      &:last-child {
        margin-right: 0;
        .nav-link {
          /*color: $secondary-text-color;
          padding: 10px 28px;
          @extend .btn-primary;*/
        }
      }
    }
  }
}
.page-header {
  margin-top: 93px;
}