body {
  &.media {
    display: block;
  }
}
.section {
  .container {
    padding-left: 55px;
    padding-right: 55px;
  }
}
.section-default {
  padding: 70px 0;
}
.section-intro {
  text-align: center;

  p {
    max-width: 920px;
    margin: 0 auto 16px;
  }
}
.primary-bg {
  background-color: $primary-background-color;
}
.secondary-bg {
  background-color: $secondary-background-color;
}
.subpage-banner {
  color: $secondary-text-color;
  background: $primary-background-color url("../images/subpage/subbanner.png") center;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 55px 0;

  h1 {
    font-size: 50px;
    font-weight: $primary-font-weight;

  }
}
.section-with-bg {
  position: relative;
  color: $white;
  h2 {
    color: inherit;
    font-size: 29px;
  }
  .btn {
    color: $primary-header-color;
    font-size: 20px;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    opacity: .3;
  }
}

.secondary-bg + .footer-border-top, div[style*="#f3f3f3"] + .footer-border-top{
  border-top: none;
}

.section-page-single {
  p {
    & + h1,& + h2 {
      margin-top: 15px;
    }
  }
}


.section-archive-intro {
  padding-top: 70px;

  .hero-intro {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
}