@include media-breakpoint-down(md) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  .contact-details {
    margin: 40px 0 0;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .g-recaptcha {
    transform: scale(.75);
    transform-origin: 0 0;
  }
}