@include media-breakpoint-down(lg) {
  .content-info {
    .navbar {
      &-nav {
        .nav {
          &-item {
            &:last-child {
              .nav-link {
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          &:last-child {
            .nav-link {
              padding: 5px 20px 20px;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .content-info, .copyright {
    text-align: center;
  }
  .copyright {
    justify-content: center;
  }
}