@include media-breakpoint-down(lg) {
  .navbar-collapse {
    background-color: $ternary-background-color;
    padding: 0;
    .navbar-nav {
      .nav {
        &-item {
          margin: 0;
          &:first-child {
            .nav-link  {
              padding-top: 20px;
            }
          }
          &:last-child {
            .nav-link {
              border-color: transparent;
              background: transparent;
              color: $nav-link-color;
              padding: 5px 20px 20px;
              &:hover, &:focus, &:active {
                border-color: transparent!important;
                background: transparent!important;
                outline: transparent!important;
                box-shadow: none!important;
                color: $special-text-color!important;
              }
            }
          }
        }
        &-link {
          padding: 5px 20px;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .navbar-brand {
    max-width: 260px;
  }
  .page-header {
    margin-top: 77px;
  }
}
@media (max-width: 375px) {
  .navbar-brand {
    max-width: 210px;
    margin: 0;
  }
}