@media (max-width: 1366px) {
  .section {
    .community-container {
      max-width: 100%;
      padding: 0;
    }
  }
}
@include media-breakpoint-down(md) {
  .event-list {
    .event-item {
      padding-bottom: 25px;
      margin-bottom: 25px;
      .event-meta {
        flex: 0 1 40%;
      }
      .quick-details {
        flex: 0 1 60%;
        p {
          margin-bottom: 20px
        }
      }
      .more-details {
        flex: 0 1 100%;
        text-align: center;
      }
    }
  }
  .text-center + .card-deck-news {
    justify-content: center;

    .card {
      margin-top: 30px;
      flex: 0 1 45%;
    }
  }
  .community-container {
    .community-row {
      flex-direction: column;
    }
  }
  .section-community-about {
    .community-about-img {
      margin-bottom: 30px;
    }
  }
  .card-deck-pdf {
    .card {
      flex: 0 1 45%;
    }
  }
  .card-deck-news-media {
    .card {
      flex: 0 1 45%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .masterhead-content {
    h1 {
      font-size: 40px;
      br {
        display: none;
      }
    }
  }
  .event-list {
    .event-item {
      .event-meta, .quick-details, .more-details {
        flex: 0 1 100%;
        justify-content: center;
      }
      .event-meta {
        margin-bottom: 25px;
      }
    }

  }
  .text-center + .card-deck-news {
    .card {
      flex: 0 1 70%;
    }
  }
  .card-deck-pdf {
    .card {
      flex: 0 1 100%;
    }
  }
  .card-deck-news-media {
    .card {
      flex: 0 1 100%;
    }
  }
}
@include media-breakpoint-down(xs) {
  .section-master-banner {
    height: 435px;
  }
  .masterhead-content {
    h1 {
      margin-top: 20px;
      font-size: 30px;
    }
  }
  .event-list {
    .event-item {
      .quick-details {
        text-align: center;
      }
    }
  }
}
