@include media-breakpoint-down(lg) {
  .blog-filter {
    padding: 0 0 18px;
    .navbar {
      padding: 0;
    }
    .hamburger {
      padding: 0;
      display: flex;
    }
    .navbar-category {
      .navbar-toggler {
        display: none;
      }
    }
    .nav-category {
      .nav-item {
        &:first-child {
          .nav-link {
            padding: 2px 15px 2px 0;
          }
        }
      }
    }
  }
  .card-deck-news-media {
    .card {
      flex: 0 1 30.1%;
    }
  }
}
@include media-breakpoint-down(md) {
  .blog-filter {
    .navbar-category {
      .navbar-toggler {
        display: flex;
      }
    }
    &.blog-filter-expand {
      .navbar-category {
        display: flex;
        width: 100%;

        .nav-category {
          display: flex;
          flex-basis: auto;
          flex-grow: inherit;

          li {
            &:last-child {
              margin-right: 0;
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .search-triggered {
    >.search-trigger {
      display: none!important;
    }
  }
  .nav-category {
    justify-content: center;
  }
  .card-deck-news-media {
    .card {
      flex: 0 1 45.65%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .card-deck-news-media {
    .card {
      flex: 0 1 100%;
    }
  }
}
@include media-breakpoint-down(xs) {
  .blog-filter {
    &.blog-filter-expand {
      .navbar-category {
        flex-direction: column;

        .nav-category {
          margin-top: 20px;
        }
      }
    }
  }
}