@include media-breakpoint-down(lg) {
  .meta-blog {
    flex-direction: column;
    .ml-auto {
      margin-right: auto!important;
      margin-left: 0!important;
      margin-bottom: 10px;
    }
    .card-text, .list-style-dot, .fny_11 {
      margin-right: auto;
      margin-bottom: 10px;
    }
    #fny_share {
      margin-bottom: 0;
      img {
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .section-post-single {
      h1 {
        margin-bottom: 20px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .sidebar {
    margin-left: 0;
    max-width: 100%;
  }
  .section-post-single {
    .container {
      flex-direction: column;
    }
    .comments {
      margin-bottom: 50px;
    }

  }
  .single-tribe_events {
    .section-post-single {
      flex-direction: column;
    }
  }
}
@include media-breakpoint-down(xs) {
  .section-breadcrumb {
    .container {
      flex-direction: column;
    }
    .breadcrumb {
      margin-bottom: 5px;
    }
  }
}
@media (max-width: 320px) {
  .rpwwt-widget {
    .rpwwt-post-title {
      margin-left: 87px;
    }
  }
}